<template>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal-estoque">
		<div class="modal-dialog modal-md" role="document">>
			<div class="modal-content">

				<div class="modal-header">
					<h4 class="modal-title">Alterar estoque</h4>
					<button type="button" class="close" @click="close">
						&times;
					</button>
				</div>

				<div class="modal-body">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Nome</label>
                                <input type="text" class="form-control form-control-sm" v-model="estoque.nome">
                            </div>
                        </div>

                        <div class="col-md-9">
                            <div class="form-group">
                                <label>Descrição</label>
                                <input type="text" class="form-control form-control-sm" v-model="estoque.descricao">
                            </div>
                        </div>
                    </div>

					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label>Atual</label>
								<input type="text" class="form-control form-control-sm" v-model="estoque.atual">
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<label>Mínimo</label>
								<input type="text" class="form-control form-control-sm" v-model="estoque.minimo">
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<label>Máximo</label>
								<input type="text" class="form-control form-control-sm" v-model="estoque.maximo">
							</div>
						</div>
					</div>

				</div>

				<div lass="modal-footer">
                    <div class="d-flex flex-row-reverse bd-highlight">
                        <button type="button" class="btn btn-sm btn-danger mr-2 mb-2" @click="close">Cancelar</button>
                        <button type="button" class="btn btn-sm btn-success mr-2 mb-2" @click="save">Salvar</button>
                    </div>
				</div>

			</div>
		</div>
	</div>
</template>

<script>
    import axios from '../axios.js'

    export default {
        name: 'estoque-modal',
        props: ['estoque'],
        mixins: [ axios ],

        methods: {
            save() {
                if ( this.estoque.id ) this.update()
                else this.create()
            },

            async update() {
                const response = await this.PUT('produto/estoque', this.estoque)
            },

            async create() {
                const response = await this.POST('produto/estoque', this.estoque)
                this.$emit('create', response)
                this.close()
            },

            close() {
                $("#modal-estoque").modal('hide')
            },
        }
    }
</script>
