<template>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal-produto">
		<div class="modal-dialog modal-lg" role="document">>
			<div class="modal-content">

				<div class="modal-header">
					<h4 class="modal-title">Produto</h4>
					<button type="button" class="close" data-dismiss="modal">
						&times;
					</button>
				</div>

				<div class="modal-body">

					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label>Sku</label>
								<input type="text" class="form-control form-control-sm" v-model="produto.sku">
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<label>Nome</label>
								<input type="text" class="form-control form-control-sm" v-model="produto.nome">
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<label>Preço</label>
								<input type="text" class="form-control form-control-sm" v-model="produto.preco">
							</div>
						</div>
					</div>

                    <div class="row">
                        <div class="col-md-4">
							<div class="form-group">
								<label>Tamanho</label>
								<select class="form-control form-control-sm" v-model="produto.produto_tamanho_id">
									<option v-for="t in opt_tamanho" :value="t.id" :key="t.id">{{ t.nome }}</option>
								</select>
							</div>
						</div>

                        <div class="col-md-4">
							<div class="form-group">
								<label>Categoria</label>
								<select class="form-control form-control-sm" v-model="produto.produto_categoria_id">
									<option v-for="c in opt_categoria" :value="c.id" :key="c.id">{{ c.nome }}</option>
								</select>
							</div>
						</div>

                        <div class="col-md-4">
							<div class="form-group">
								<label>Cor</label>
								<select class="form-control form-control-sm" v-model="produto.produto_cor_id">
									<option v-for="c in opt_cor" :value="c.id" :key="c.id">{{ c.nome }}</option>
								</select>
							</div>
						</div>
					</div>

				</div>

				<div lass="modal-footer">
                    <div class="d-flex flex-row-reverse bd-highlight">
                        <button type="button" class="btn btn-sm btn-danger mr-2 mb-2" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-sm btn-success mr-2 mb-2" @click="save">Salvar</button>
                        <button type="button" class="btn btn-sm btn-primary mr-2 mb-2" @click="estoque_md">Estoque</button>
                    </div>
				</div>

			</div>
		</div>

        <modal v-if="produto.estoque" :estoque="produto.estoque" @create="create_estoque" />
	</div>
</template>

<script>
    import axios from '../axios.js'
    import modal from './EstoqueModal'

    export default {
        name: 'produto-modal',
        props: ['produto'],
        mixins: [ axios ],
        components: { modal },

        data() { return {
            opt_tamanho: [],
            opt_categoria: [],
            opt_cor: [],
        }},

        created() {
            this.get_tamanho()
            this.get_categoria()
            this.get_cor()
        },

        methods: {
            save() {
                if ( this.produto.id ) this.update()
                else this.create()
            },

            async update() {
                const response = await this.PUT('produto', this.produto)
                this.$emit('update:produto', response)
                this.$emit('refresh')
            },

            async create() {
                if ( this.produto.produto_estoque_id) {
                    this.produto.status = 1
                    this.produto.updated_to = "app"
                    const response = await this.POST('produto', this.produto)
                    this.$emit('refresh')
                }

                else window.alert('É preciso criar um estoque para este produto.')
            },

            async get_tamanho() {
                const response = await this.GET('produto', 'tamanho')
                this.opt_tamanho = response
            },

            async get_categoria() {
                const response = await this.GET('produto', 'categoria')
                this.opt_categoria = response
            },

            async get_cor() {
                const response = await this.GET('produto', 'cor')
                this.opt_cor = response
            },

            estoque_md() {
                $("#modal-estoque").modal()
            },

            create_estoque(estoque) {
                this.produto.produto_estoque_id = estoque.id
            },
        }
    }
</script>

<style>

</style>
