<template>
    <section>
        <div class="d-flex flex-row-reverse bd-highlight">
            <button type="button" class="btn btn-sm btn-success mb-2" @click="insert">Adicionar</button>
        </div>

        <table class="table table-sm table-striped table-borded">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Sku</th>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th>Descrição</th>
                    <th>Tamanho</th>
                    <th>categoria</th>
                    <th>Cor</th>
                    <th>Estoque</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="p in produtos" :key="p.id">
                    <td>{{ p.id }}</td>
                    <td>{{ p.sku }}</td>
                    <td>{{ p.nome }}</td>
                    <td>{{ p.preco }}</td>
                    <td>{{ p.descricao }}</td>
                    <td>{{ p.tamanho.nome }}</td>
                    <td>{{ p.categoria.nome }}</td>
                    <td>{{ p.cor.nome }}</td>
                    <td>{{ p.estoque.atual }}</td>
                    <td><i class='far fa-eye pointer text-primary' @click="show(p)"></i></td>
                </tr>
            </tbody>
        </table>

        <modal :produto.sync="modal_data"  @refresh="get_produtos" />
    </section>
</template>

<script>
    import axios from '../axios.js'
    import modal from './ProdutoModal'

    export default {
        name: 'vc-produtos',
        mixins: [ axios ],
        components: { modal },

        data() { return {
            produtos: [],
            modal_data: {}
        }},

        mounted() {
            this.get_produtos()
        },

        methods: {
            async get_produtos() {
                const produtos = await this.GET('produto', 'index')
                this.produtos = produtos
            },

            show(produto) {
                this.modal_data = produto
                $("#modal-produto").modal()
            },

            insert(produto) {
                this.modal_data = { estoque: {} }
                $("#modal-produto").modal()
            }
        }
    }
</script>

<style scoped>
    .pointer {
        cursor: pointer
    }
</style>
